*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height:8vh; 
	background-color: #8c8685;
}
.logo{
	letter-spacing: 2px;
	font-size: 35px;
}
.nav-bar{
	display:flex;	
	justify-content:space-around;
	width:40%;
}
.nav-bar li{
	list-style:none;
}
.nav-bar a{
	color:#171514;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 23px;
	transition: 0.5s all ease-in-out;
	cursor: pointer;
	font-weight: 600;
} 

.nav-bar a:hover{
	color: red;
	font-size: 27px;
}

.search{
	display: flex;
	float: left;
	align-items: center;
}

.search input{
	border-radius: 30px;
	height: 35px;
	text-align: center;
	padding: 8px;
}

.search .in{
	border-radius: 30px;
	height: 35px;
	width: 70px;
	transition: 0.5s all ease-in-out;
	font-weight: 600;
	cursor: pointer;
}

.search button:hover{
	background-color: red;
	color:white;
	height: 35px;
}

.list1{
	margin-top: 5vh;
	margin-left: 40px;
	justify-content: space-around;
	display: flex;
}

.list1 img{
	height: 200px;
	width: 250px;
	object-fit: cover;	
	border-radius: 250px;
}

.list2 p{
	margin-left: 20px;
}
.list2{
	margin-top: 8vh;
	margin-left: 40px;
	justify-content: space-around;
	display: flex;
}

.list2 img{
	height: 200px;
	width: 250px;
	object-fit: cover;	
	border-radius: 250px;
}

.list2 p{
	margin-left: 20px;
}
h3{
	font-size: 3rem;
	color: grey;
}
button{
	padding: 8px;
	font-size: 1rem;
	margin-top: 20px;
	background-color: skyblue;
	color: white;
}
button:hover{
	background-color: black;
}
.footer{
	margin-top: 5vh;
	display: flex;
	background-color: gray;
	color: white; 
	padding-bottom: 3vh;
}
.footer .left{
	flex: 1;

	margin-left: 40px;
}